/* 来自 mdui-v1 */
@font-face {
    font-weight: 300;
    font-family: Roboto;
    font-style: normal;
    font-display: swap;
    src: local('Roboto Light'), local('Roboto-Light'), url(./assets/fonts/roboto/Roboto-Light.woff2) format('woff2'), url(./assets/fonts/roboto/Roboto-Light.woff) format('woff')
}

@font-face {
    font-weight: 300;
    font-family: Roboto;
    font-style: italic;
    font-display: swap;
    src: local('Roboto LightItalic'), local('Roboto-LightItalic'), url(./assets/fonts/roboto/Roboto-LightItalic.woff2) format('woff2'), url(./assets/fonts/roboto/Roboto-LightItalic.woff) format('woff')
}

@font-face {
    font-weight: 400;
    font-family: Roboto;
    font-style: normal;
    font-display: swap;
    src: local('Roboto Regular'), local('Roboto-Regular'), url(./assets/fonts/roboto/Roboto-Regular.woff2) format('woff2'), url(./assets/fonts/roboto/Roboto-Regular.woff) format('woff')
}

@font-face {
    font-weight: 400;
    font-family: Roboto;
    font-style: italic;
    font-display: swap;
    src: local('Roboto RegularItalic'), local('Roboto-RegularItalic'), url(./assets/fonts/roboto/Roboto-RegularItalic.woff2) format('woff2'), url(./assets/fonts/roboto/Roboto-RegularItalic.woff) format('woff')
}

@font-face {
    font-weight: 500;
    font-family: Roboto;
    font-style: normal;
    font-display: swap;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(./assets/fonts/roboto/Roboto-Medium.woff2) format('woff2'), url(./assets/fonts/roboto/Roboto-Medium.woff) format('woff')
}

@font-face {
    font-weight: 500;
    font-family: Roboto;
    font-style: italic;
    font-display: swap;
    src: local('Roboto MediumItalic'), local('Roboto-MediumItalic'), url(./assets/fonts/roboto/Roboto-MediumItalic.woff2) format('woff2'), url(./assets/fonts/roboto/Roboto-MediumItalic.woff) format('woff')
}

@font-face {
    font-weight: 700;
    font-family: Roboto;
    font-style: normal;
    font-display: swap;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(./assets/fonts/roboto/Roboto-Bold.woff2) format('woff2'), url(./assets/fonts/roboto/Roboto-Bold.woff) format('woff')
}

@font-face {
    font-weight: 700;
    font-family: Roboto;
    font-style: italic;
    font-display: swap;
    src: local('Roboto BoldItalic'), local('Roboto-BoldItalic'), url(./assets/fonts/roboto/Roboto-BoldItalic.woff2) format('woff2'), url(./assets/fonts/roboto/Roboto-BoldItalic.woff) format('woff')
}


body {
    font-family: Roboto, Noto, Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
    opacity: 0;
}

body.ready {
    opacity: 1;
    transition: 0.25s opacity;
}

mdui-layout {
    height: 100vh;
}

mdui-top-app-bar {
    padding: 1rem 0.9rem;
}

code {
    padding: 2px 6px;
    color: rgb(var(--mdui-color-on-surface-light));
    background-color: rgb(var(--mdui-color-secondary-container-light));
    border-radius: 2px;
    font-family: Consolas, Courier, 'Courier New', monospace;
}

/* 使子元素垂直居中 */
.mdui-valign {
    display: flex;
    align-items: center;
}

/* 文本居中对齐 */
.align-center {
    text-align: center !important;
}

/* 网格布局 */
.container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    padding-right: 8px;
    padding-left: 8px;
}

.container::after {
    display: table;
    clear: both;
    content: '';
}

.container {
    width: 96%;
    padding-left: 3% !important;
    padding-right: 3% !important;
}

@media (min-width: 600px) {
    .container {
        width: 94%;
        padding-left: 2% !important;
        padding-right: 2% !important;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 92%;
        padding-left: 2% !important;
        padding-right: 2% !important;
    }
}

/* 颜色 */
.color-red {
    color: #D32F2F !important;
}

.color-green {
    color: #00C853 !important;
}

.no-margin {
    margin: 0;
}

/* 滚动条 */
/* body::-webkit-scrollbar {
    width: 6px;
    height: 4px
}

body::-webkit-scrollbar-thumb {
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 5px #7d7d7d;
    background: #7d7d7d
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0);
    border-radius: 0;
    background: rgba(0, 0, 0, 0)
} */

#mode,
#method {
    width: 30%;
}

#outputArea {
    word-break: break-word;
}

.fit-top {
    margin-top: 3%;
}

.hidden {
    display: none;
}

h1 {
    line-height: var(--mdui-typescale-headline-medium-line-height);
    font-size: var(--mdui-typescale-headline-medium-size);
    letter-spacing: var(--mdui-typescale-headline-medium-tracking);
    font-weight: var(--mdui-typescale-headline-medium-weight);
}

h2,
.headline-small {
    line-height: var(--mdui-typescale-headline-small-line-height);
    font-size: var(--mdui-typescale-headline-small-size);
    letter-spacing: var(--mdui-typescale-headline-small-tracking);
    font-weight: var(--mdui-typescale-headline-small-weight);
}

p,
span {
    line-height: var(--mdui-typescale-label-large-line-height);
    font-size: var(--mdui-typescale-label-large-size);
    letter-spacing: var(--mdui-typescale-label-large-tracking);
    font-weight: var(--mdui-typescale-label-large-weight);
}

strong {
    line-height: var(--mdui-typescale-label-large-line-height);
    font-size: var(--mdui-typescale-label-large-size);
    letter-spacing: var(--mdui-typescale-label-large-tracking);
}

img {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    user-select: none;
}

a:link {
    color: rgb(var(--mdui-color-primary));
    text-decoration: none;
}

a:visited {
    color: rgb(var(--mdui-color-tertiary));
    text-decoration: none;
}

a:hover {
    color: rgb(var(--mdui-color-on-primary-container));
    text-decoration: none;
}

a:active {
    color: rgb(var(--mdui-color-tertiary));
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    code {
        padding: 2px 6px;
        color: rgb(var(--mdui-color-on-surface-dark));
        background-color: rgb(var(--mdui-color-secondary-container-dark));
        border-radius: 2px;
        font-family: Consolas, Courier, 'Courier New', monospace;
    }
}