@import "./base.css";

.drawer-title {
    padding: 1.5rem 0.9rem 0rem 1rem;
    /* height: 4rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(var(--mdui-color-on-surface));
}

.drawer-title span {
    font-size: var(--mdui-typescale-title-large-size);
    font-weight: var(--mdui-typescale-title-large-weight);
    letter-spacing: var(--mdui-typescale-title-large-tracking);
    line-height: var(--mdui-typescale-title-large-line-height);
}

.select {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.select-label {
    white-space: nowrap;
    align-content: center;
    padding-right: 1rem;
}
