@import "./base.css";

.drawer-title {
    padding: 1rem 0.9rem 0rem 1rem;
    /* position: sticky; */
    /* top: 0; */
    z-index: 1000;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(var(--mdui-color-on-surface));
    /* background-color: rgb(var(--mdui-color-surface-container-low)); */
    /* border-radius: var(--mdui-shape-corner-large); */
    /* transition: background-color var(--mdui-motion-duration-short4) var(--mdui-motion-easing-linear); */
}

/* .drawer-title[scrolling] {
    background-color: rgb(var(--mdui-color-surface-container-low)) !important;
    box-shadow: 0 0 0;
} */

.drawer-title span {
    font-size: var(--mdui-typescale-title-large-size);
    font-weight: var(--mdui-typescale-title-large-weight);
    letter-spacing: var(--mdui-typescale-title-large-tracking);
    line-height: var(--mdui-typescale-title-large-line-height);
}

.select {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.select-label {
    white-space: nowrap;
    align-content: center;
    padding-right: 1rem;
}
